index.jade
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic")
        link(rel="stylesheet", href="css/main.css")
        title EveryBlock Philadelphia
    body
        .backdrop
            main
                .container
                    .row
                        .col.third
                            .welcome-flag Welcome to
                            img(src="images/everyblock-phila.svg" alt="EveryBlock Philadelphia")
                            p EveryBlock is a place to connect with the people around you and receive hyper-local news based on your interests! You can share news, create events, and post messages to your neighbors. Learn more about #[a(href="#") how EveryBlock works #[span.chevron]]
                            form.welcome-form
                                h2 Join EveryBlock!
                                .field
                                    label.field-label(for="name") Full Name
                                    input.field-control(id="name", placeholder="(your name will not be displayed)")
                                .field
                                    label.field-label(for="email") Email
                                    input.field-control(id="email", type="email")
                                .field
                                    label.field-label(for="password") Password
                                    input.field-control(id="password", type="password", placeholder="(minimum 8 characters)")
                                .field
                                    select.field-control
                                        option Philadelphia
                                .flex-ct.align-end
                                    .flex-1
                                        button.light.block(type="submit") Join EveryBlock
                                    .social-signup
                                        .hint or sign up using:
                                        a.social-link(href="#"): img(src="images/social-facebook.png", height="36", width="36", alt="Facebook" )
                                        a.social-link(href="#"): img(src="images/social-twitter.png",  height="36", width="36", alt="Twitter" )
                                        a.social-link(href="#"): img(src="images/social-google.png",   height="36", width="36", alt="Google" )
                            
                        .col.two-thirds
                            .text-right
                                a.button.light(href="/login") Log In
                            .welcome-map-ct
                                a.button.callout(href="#") Check out EveryBlock Philly #[span.chevron]

                    .row
                        .col.two-thirds
                            .module.popular-posts
                                header
                                    h3.module-title Philly’s Popular Posts:
                                    a(href="#") View more on EveryBlock #[span.chevron]
                                .body
                                    .row
                                        .col.half
                                            .postlet
                                                header
                                                    .location Center City East
                                                    .author
                                                        a(href="#")
                                                            img.avatar(src="//placehold.it/80")
                                                            .name Technical.ly Philly
                                                        .channel optional Channel Here
                                                .body
                                                    h4.post-title Philly TechWeek Kicks off
                                                footer
                                                    time posted: 1m ago
                                                    ul.tags
                                                        li.tag-item: a.tag-link(href="#") Business
                                                        
                                        .col.half
                                            .postlet
                                                header
                                                    .location East Passyunk Crossing
                                                    .author
                                                        a(href="#")
                                                            img.avatar(src="//placehold.it/80")
                                                            .name Flood the Drummer
                                                        .channel ACTv PHL
                                                .body
                                                    h4.post-title Why it’s time for Philly’s Anti-Violence Protest to get political
                                                footer
                                                    time posted: 10m ago
                                                    ul.tags
                                                        li.tag-item: a.tag-link(href="#") Government    
                                    
                                
                            .module
                                header.solid
                                    h3.module-title How EveryBlock Works:
                                .body
                                    img(src="//placehold.it/1280x720", alt="Hello Neighbor")

                            p: a(href="#"): img(src="images/join-the-convo.png")
                            
                        .col.third
                            .module.everyblock-features
                                header
                                    h3.module-title EveryBlock Features:
                                .body
                                    ul.feature-list
                                        -
                                            var features = [
                                                { img: "images/features/follow-neighborhoods.png",  imgWidth: 100, txt: "Follow your neighborhood and other spots in your city that you care about." },
                                                { img: "images/features/select-things.png",         imgWidth: 189, txt: "Select the kind of things that interest you to customize your EveryBlock experience." },
                                                { img: "images/features/follow-users.png",          imgWidth: 162, txt: "Follow any EveryBlock users or connect with folks with similar interests or locations." },
                                                { img: "images/features/share-neighbors.png",       imgWidth: 132, txt: "Share with your neighbors – links, photos, news, questions – that’s what EveryBlock is for!" }
                                            ]
                                        each feature in features
                                            li.feature-list-item
                                                img(src=feature.img, alt="", width=feature.imgWidth)
                                                p= feature.txt
                                        
                
        footer.site-footer
            .container
                .row
                    .col.two-thirds
                        .row
                            .col.fourth
                                h4 About EB
                                ul
                                    li: a(href="#") How it works
                                    li: a(href="#") Become a publisher
                                    li: a(href="#") Add my business
                                    li: a(href="#") EveryBlock Metros

                            .col.fourth
                                h4 FAQs
                                ul
                                    li: a(href="#") EveryBlock Blog
                                    li: a(href="#") Terms &amp; Privacy
                                    li: a(href="#") Disclaimer
                                a(href="#") Invite Neighbors!

                            .col.third
                                h4 Feedback &amp; Support
                                p Duis vehicula egestas ipsum nec pellentesque. Fusce eget imper diet libero, non ullamcorper nisl.
                                a.button.white.small(href="#") Ask EveryBlock

                    .col.third
                        h4 Connect with EveryBlock
                        .clearfix
                            a.social-link(href="#"): img(src="images/social-facebook.png", height="36", width="36", alt="Facebook" )
                            a.social-link(href="#"): img(src="images/social-twitter.png",  height="36", width="36", alt="Twitter" )
                            a.social-link(href="#"): img(src="images/social-youtube.png",  height="36", width="36", alt="YouTube" )
                        .comcast-shout
                            img(src="images/comcast-nbcuniversal-logo.svg", alt="Comcast NBCUniversal")

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic">
    <link rel="stylesheet" href="css/main.css">
    <title>EveryBlock Philadelphia</title>
  </head>
  <body>
    <div class="backdrop">
      <main>
        <div class="container">
          <div class="row">
            <div class="col third">
              <div class="welcome-flag">Welcome to</div><img src="images/everyblock-phila.svg" alt="EveryBlock Philadelphia">
              <p>EveryBlock is a place to connect with the people around you and receive hyper-local news based on your interests! You can share news, create events, and post messages to your neighbors. Learn more about <a href="#">how EveryBlock works <span class="chevron"></span></a></p>
              <form class="welcome-form">
                <h2>Join EveryBlock!</h2>
                <div class="field">
                  <label for="name" class="field-label">Full Name</label>
                  <input id="name" placeholder="(your name will not be displayed)" class="field-control">
                </div>
                <div class="field">
                  <label for="email" class="field-label">Email</label>
                  <input id="email" type="email" class="field-control">
                </div>
                <div class="field">
                  <label for="password" class="field-label">Password</label>
                  <input id="password" type="password" placeholder="(minimum 8 characters)" class="field-control">
                </div>
                <div class="field">
                  <select class="field-control">
                    <option>Philadelphia</option>
                  </select>
                </div>
                <div class="flex-ct align-end">
                  <div class="flex-1">
                    <button type="submit" class="light block">Join EveryBlock</button>
                  </div>
                  <div class="social-signup">
                    <div class="hint">or sign up using:</div><a href="#" class="social-link"><img src="images/social-facebook.png" height="36" width="36" alt="Facebook"></a><a href="#" class="social-link"><img src="images/social-twitter.png" height="36" width="36" alt="Twitter"></a><a href="#" class="social-link"><img src="images/social-google.png" height="36" width="36" alt="Google"></a>
                  </div>
                </div>
              </form>
            </div>
            <div class="col two-thirds">
              <div class="text-right"><a href="/login" class="button light">Log In</a></div>
              <div class="welcome-map-ct"><a href="#" class="button callout">Check out EveryBlock Philly <span class="chevron"></span></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col two-thirds">
              <div class="module popular-posts">
                <header>
                  <h3 class="module-title">Philly’s Popular Posts:</h3><a href="#">View more on EveryBlock <span class="chevron"></span></a>
                </header>
                <div class="body">
                  <div class="row">
                    <div class="col half">
                      <div class="postlet">
                        <header>
                          <div class="location">Center City East</div>
                          <div class="author"><a href="#"><img src="//placehold.it/80" class="avatar">
                              <div class="name">Technical.ly Philly</div></a>
                            <div class="channel">optional Channel Here</div>
                          </div>
                        </header>
                        <div class="body">
                          <h4 class="post-title">Philly TechWeek Kicks off</h4>
                        </div>
                        <footer>
                          <time>posted: 1m ago</time>
                          <ul class="tags">
                            <li class="tag-item"><a href="#" class="tag-link">Business</a></li>
                          </ul>
                        </footer>
                      </div>
                    </div>
                    <div class="col half">
                      <div class="postlet">
                        <header>
                          <div class="location">East Passyunk Crossing</div>
                          <div class="author"><a href="#"><img src="//placehold.it/80" class="avatar">
                              <div class="name">Flood the Drummer</div></a>
                            <div class="channel">ACTv PHL</div>
                          </div>
                        </header>
                        <div class="body">
                          <h4 class="post-title">Why it’s time for Philly’s Anti-Violence Protest to get political</h4>
                        </div>
                        <footer>
                          <time>posted: 10m ago</time>
                          <ul class="tags">
                            <li class="tag-item"><a href="#" class="tag-link">Government    </a></li>
                          </ul>
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="module">
                <header class="solid">
                  <h3 class="module-title">How EveryBlock Works:</h3>
                </header>
                <div class="body"><img src="//placehold.it/1280x720" alt="Hello Neighbor"></div>
              </div>
              <p><a href="#"><img src="images/join-the-convo.png"></a></p>
            </div>
            <div class="col third">
              <div class="module everyblock-features">
                <header>
                  <h3 class="module-title">EveryBlock Features:</h3>
                </header>
                <div class="body">
                  <ul class="feature-list">
                    <li class="feature-list-item"><img src="images/features/follow-neighborhoods.png" alt="" width="100">
                      <p>Follow your neighborhood and other spots in your city that you care about.</p>
                    </li>
                    <li class="feature-list-item"><img src="images/features/select-things.png" alt="" width="189">
                      <p>Select the kind of things that interest you to customize your EveryBlock experience.</p>
                    </li>
                    <li class="feature-list-item"><img src="images/features/follow-users.png" alt="" width="162">
                      <p>Follow any EveryBlock users or connect with folks with similar interests or locations.</p>
                    </li>
                    <li class="feature-list-item"><img src="images/features/share-neighbors.png" alt="" width="132">
                      <p>Share with your neighbors – links, photos, news, questions – that’s what EveryBlock is for!</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col two-thirds">
            <div class="row">
              <div class="col fourth">
                <h4>About EB</h4>
                <ul>
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">Become a publisher</a></li>
                  <li><a href="#">Add my business</a></li>
                  <li><a href="#">EveryBlock Metros</a></li>
                </ul>
              </div>
              <div class="col fourth">
                <h4>FAQs</h4>
                <ul>
                  <li><a href="#">EveryBlock Blog</a></li>
                  <li><a href="#">Terms &amp; Privacy</a></li>
                  <li><a href="#">Disclaimer</a></li>
                </ul><a href="#">Invite Neighbors!</a>
              </div>
              <div class="col third">
                <h4>Feedback &amp; Support</h4>
                <p>Duis vehicula egestas ipsum nec pellentesque. Fusce eget imper diet libero, non ullamcorper nisl.</p><a href="#" class="button white small">Ask EveryBlock</a>
              </div>
            </div>
          </div>
          <div class="col third">
            <h4>Connect with EveryBlock</h4>
            <div class="clearfix"><a href="#" class="social-link"><img src="images/social-facebook.png" height="36" width="36" alt="Facebook"></a><a href="#" class="social-link"><img src="images/social-twitter.png" height="36" width="36" alt="Twitter"></a><a href="#" class="social-link"><img src="images/social-youtube.png" height="36" width="36" alt="YouTube"></a></div>
            <div class="comcast-shout"><img src="images/comcast-nbcuniversal-logo.svg" alt="Comcast NBCUniversal"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
